


<nav style="background-color: rgb(107, 87, 87);" class="navbar navbar-expand-lg bg-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #ffff;">Blog do Node</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="color: #ffff; " class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a style="color: #ffff;" class="nav-link" href="/categorias">Categorias</a>
        <li class="nav-item">
          {{#if user}} <!-- se existir um usuario logado nao mostrar as opcoes -->
                 <li class="nav-item">
            <a  style="color: #ffff;" class="nav-link " href="/usuarios/logout">Sair</a>
                 </li>
                 <li class="nav-item">
                     <h1 style="color: lightgreen;">{{user.nome}}</h1>
                 </li>
                 {{#if user.eAdmin}}
                    <li class="nav-item">
                      <a style="color: lightblue; " class="nav-link active" aria-current="page" href="/admin/categoria/add">Criar Categoria</a>
                 </li>
                 <li class="nav-item">
                      <a style="color: salmon; " class="nav-link active" aria-current="page" href="/admin/postagem/add">Criar Postagem</a>
                 </li>
               
                  {{else}}
                 {{/if}}
          {{else}} 
            <a style="color: #ffff;" class="nav-link" href="/usuarios/login">Login</a>
          </li>
            <li class="nav-item">
            <a style="color: #ffff;" class="nav-link " href="/usuarios/registro">Registro</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>